body{
    margin: 0;
    padding: 0;
    border: 0;
    overflow-x: hidden;
}
.heading{
    width: 100vw;
    height: 100vh;
}
.headingH{
    z-index: 2;
    color: white;
    position: absolute;
    left: 5%;
    bottom: 5%;
    /* height: 100px;
    width: 400px; */
}
.headingC{
    font-size: 70px;
}
.obiWan{
    position: absolute;
    left: 2%;
    z-index: 2;
    opacity: 0;
    transition: 500ms ease;
}
.headingH:hover.obiWan{
    opacity: 0.3;
    z-index: 2;
}
/* I can't figure out why this isn't working using the headingH div, even if i give the headingH div a size. it works if i change it to the heading section*/
.headingImg{
    background-image: url("../pictures/2007-08-23-the-road-goes-ever-on-&-on-mongolia-1.jpg");
    background-position: top;
    position: absolute;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: inherit;
    width: inherit;
    
}
.navbar{
   z-index: 10;
}
.sticky{
    position: fixed;
    top: 0;
    width: 100%;
}
.dropdown-item{
    color: white;
}
.navbar-nav{
    display: flex;
    justify-content: space-around;
    width: 100%;
}
h2{
    padding: 10px;
}
#aboutme{
    padding: 50px;
    /* background-color: white; */
    background-color: #bc4123;
}
.aboutText{
    padding-top: 40px;
    color: white;
    font-size: 20px;
}
.aboutImg{
    border-radius: 50%;
}
#hobbies{
    /* background-image: linear-gradient(
        rgba(71, 156, 131, 0), rgba(112, 128, 114, 1)
    ); */
    background-color: rgb(19, 28, 51);
    padding: 50px;
}
.hobbyPic{
    height: inherit;
    width: inherit;
    border-radius: 10%;
    transform: rotate(-15deg);
}
.hobbyPicAlt{
    height: inherit;
    width: inherit;
    border-radius: 10%;
    transform: rotate(15deg);
}
.hobbyRows{
    padding: 100px;
}
/* I notice there is overlap when i make the boxes smaller, im pretty sure due to the rotation of the pictures. perhaps if i pad more it wouldn't overlap as bad, but idk how much padding I want to do*/
.hobbyDiv{
    display: block;
}
.hobbyText{
    color: white;
    font-size: 20px;
}
.hobbyTextAlt{
    text-align: right;
    color: white;
    font-size: 20px;
}
.activePic{
    opacity: 1;
}
/* note inactivePic has to go second cos cascading */
.inactivePic{
    opacity: 0;
}
.hobbyPics{
    transition: 1s ;
}
.hobbyPicCaption {
    display: block;
    position: absolute;
    width: 93%;
    height: 100%;
    bottom: 0;
    transform: rotate(-15deg);
    opacity: 0;
    background-color:rgba(187, 181, 181, 0.5);
    border-radius: 10%;
    transition: 400ms ease;
}
.hobbyPicCaptionAlt{
    display: block;
    position: absolute;
    width: 93%;
    height: 100%;
    bottom: 0;
    transform: rotate(15deg);
    opacity: 0;
    background-color:rgba(187, 181, 181, 0.5);
    border-radius: 10%;
    transition: 400ms ease;
}
.captionContent{
    color: white;
    bottom: 30%;
    width: 100%;
    position: absolute;
    text-align: center;
    font-size: 2vw;
}
.captionContentToucan{
    color: white;
    bottom: 5%;
    width: 100%;
    position: absolute;
    text-align: center;
    font-size: 1vw;
}
.hobbyDiv:hover .hobbyPicCaption{
    opacity: 1;
}
.hobbyDiv:hover .hobbyPicCaptionAlt{
    opacity: 1;
}
.activeStuff{
    transform: translateX(0);
}
.inactiveStuff{
    transform: translateX(-100vw);
}
.picDiv{
    transition: 1s ease-in-out;
}   
.morePic{
    width: inherit;
    height: inherit;
}
.morePicCaption{
    display: block;
    position: absolute;
    width: 92%;
    height: 100%;
    bottom: 0;
    opacity: 0;
    background-color:rgba(187, 181, 181, 0.5);
    transition: 400ms ease;
}
#morePicContainer{
    padding: 50px;
    background-color: #bc4123;
    color: white;
}
.picDiv:hover .morePicCaption{
    opacity: 1;
}
#contactMe{
    padding: 50px;
    background-color: rgb(19, 28, 51);
    color: white;
}
.formInfo{
    background: white;
    width: 100%;
}
.msg{
    padding-top: 10px;
}
button{
    border-radius: 10%;
}
button:hover{
    background-color: darkgrey;
}
.icons{
    font-size: 2rem;
    display: flex;
    justify-content: center;
    padding: 10px;
}
.contactMsg{
    display: flex;
    justify-content: center;
}